# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Next.js
apps/web/.next/
apps/web/out/

# Expo
apps/mobile/.expo/
apps/mobile/dist/
apps/mobile/web-build/

# Production
build/
dist/

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local env files
.env*.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
